@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.4
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======
.btn
  line-height: 1
  white-space: nowrap
  cursor: pointer
  position: relative
  width: 232px
  text-align: center
  text-transform: uppercase
  font-weight: 500
  margin: 5px

.btn-accent
  color: #fff
  background-color: $accent
  padding: 16px
  position: relative
  z-index: 2
  &:before
    content: ''
    position: absolute
    left: -5px
    top: -5px
    border: 2px solid $accent
    width: calc(100% + 10px)
    height: calc(100% + 10px)
    +mt(.3s)
  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: $accent
    +mt(.3s)
  &:hover
    &:after
      left: -5px
      top: -5px
      width: calc(100% + 10px)
      height: calc(100% + 10px)
      background-color: $accent
  &:focus, &:active
    &:after
      left: 0
      top: 0
      width: 100%
      height: 100%
  span
    position: relative
    z-index: 2



